* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.base {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: #FFFFFF;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95%;
    width: 95%;
    border-radius: 2%;
    background: #EEEEEE;
}

.title {
    color: #3A4750;
}

